
.navbar-nav .nav-item {
  margin-right: 110px; /* Adjust the margin as needed between nav items*/
  margin-left: 80px;
}

.navbar-nav li.nav-item a.nav-link {
  position: relative;
  text-decoration: none;
}

.navbar-nav li.nav-item a.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Change this to your desired underline color */
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-nav li.nav-item a.nav-link:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.btn-secondary{
  position: relative;
  right: 10px;
  background-color: rgba(29, 29, 42, 0);
  border: none;
}

#Contact-Button{
  position: relative;
  left: 220px;
  top: 250px;
  height: 60px;
  width: 170px;
  font-size: x-large;
  border-style: double;
}

.Home-Tab-Name > ul li{
  list-style-type: none;
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 250%;
  color: #ffffff;
}

.highlight-comma {
  font-family: 'Times New Roman', Times, serif;
}

.highlight-text{
  color: rgb(183, 92, 36);
}

#Contact-Button2{
  position: relative;
  left: 45px;
  top: 20px;
  font-size: 200%;
  border: thin;
  border-radius: 10px;
  background-color: transparent;
  width: 220px;
}

.Contact-Me {
  color: rgb(183, 92, 36);
  transition: all 500ms;
  position: relative;
  overflow: hidden;
  outline: 2px solid rgb(183, 92, 36);
}

.Contact-Me:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid rgb(183, 92, 36);
  box-shadow: 2px 3px 10px -2px #ff6f69;
}

.Contact-Me::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(183, 92, 36);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}

.Contact-Me:hover::before {
  width: 200%;
  background-color: none;
}

.Contact-Tab > ul li{
  list-style-type: none;
  position: relative;
  top: 100px;
  left: 250px;
  font-size: x-large;
  line-height: 100px;
}

#Contact-Card{
  position: relative;
  top: 200px;
  left: 30px;
  width: 400px;
  height: 400px;
  border: none;
}

#Experience-Card{
  position: relative;
  left: 100px;
  top: 100px;
  width: 1000px;
}

#Experience-Card-Info{
  position: relative;
  left: 150px;
  top: 0px;
  width: 625px;
  max-height: 160px;
}

#Experience-Card2{
  position: relative;
  left: 100px;
  top: 200px;
  width: 1000px;
}

#Experience-Card-Info2{
  position: relative;
  left: 150px;
  top: 0px;
  width: 625px;
  max-height: 160px;
}

.tab-content {
  max-height: 200px; /* Set a fixed maximum height for the tab content */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.card-container {
  max-height: 200px; /* Set a fixed maximum height for the card container */
  overflow-y: scroll; /* Enable vertical scrolling */
}

#Contact-Tab{
  left: 100px;
}

#User-Input1{
  position: fixed;
  left: 750px;
  bottom: 500px;
  width: 300px;
}

#User-Input2{
  position: fixed;
  left: 750px;
  bottom: 450px;
  width: 300px;
}

#User-Input3{
  position: fixed;
  left: 750px;
  bottom: 375px;
  width: 300px;
  resize: vertical;
}

#liveToastBtn{
  width: 700px;
  height: 50px;
}

.dropdown:hover .nav-link {
  position: relative;
}

.dropdown .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Change this to your desired underline color */
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.dropdown:hover .nav-link::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.custom-button {
  color: #158ac0;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  outline: 2px solid #158ac0;
}

.custom-button:hover {
  color: #ffffff !important; /* Force the text color to white */
  transform: scale(1.05);
  outline: 2px solid #158ac0;
  box-shadow: 2px 3px 10px -2px #158ac0;
}

.custom-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #158ac0;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}

.custom-button:hover::before {
  width: 200%;
  background-color: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: rgb(183, 92, 36);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 9999;
}

.loader2--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader2::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: rgb(36, 129, 183);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading2 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.contact_us_2 * {
  font-family: Nunito, sans-serif;
}

.contact_us_2 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_2 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_2 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_2 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_2 .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #0381fe;
}

.contact_us_2 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  height: auto;
}

.contact_us_2 .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
  background-color: white;
  max-width: 799px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}

.contact_us_2 .text-blk.contactus-subhead {
  color: #9c9c9c;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_2 .input {
  width: 96%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
  width: 98%;
  background-color: #158ac0;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.contact_us_2 .form-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .link-img {
  width: 30px;
  height: 30px;
}

.contact_us_2 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #9c9c9c;
}

.contact_us_2 ::placeholder {
  color: #dadada;
}

.contact_us_2 .blueBG {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 300px;
  background-color: #158ac0;
}

@media (max-width: 768px) {
  .contact_us_2 .submit-btn {
    width: 100%;
  }

  .contact_us_2 .input {
    width: 100%;
  }

  .contact_us_2 .textinput {
    width: 100%;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .contact_us_2 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 34px;
  }

  .contact_us_2 .input {
    height: 45px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.profile-picture{
  position: fixed;
  left: 800px;
  bottom: 225px;
  width: 300px;
  height: 300px;
}

#Card1{
  position: fixed;
  top: 150px;
  left: 150px;
  background-color: transparent;
}

#Card2{
  position: fixed;
  top: 150px;
  left: 550px;
  background-color: transparent;
}

#Card3{
  position: fixed;
  top: 150px;
  left: 950px;
  background-color: transparent;
}

.card-container {
  display: flex; /* Use flexbox to arrange cards horizontally */
  justify-content: space-between; /* Distribute space between cards */
}

#img{
  
  position: fixed;
  top: 100px;
  left: 100px;
  width: 250px;
  height: 250px;
  border-radius: 25px; 
}

#bio-text{
  position: fixed;
  left: 550px;
  top: 100px;
  width: 650px;
  height: 600px;
  font-family: Roboto Slab;
  font-size: x-large;
}

#navbar-example3 {
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

#navbar-example3 .nav-link {
  padding-left: 15px;
}

.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.card2{
  background: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 200px;
  left: 115px;
}

.card2-icon{
  font-size: 28px;
  background: rgb(183, 92, 36);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card2:hover .card-icon{
  background: none;
  color: rgb(183, 92, 36);
  transform: scale(1.6);
}

.card2 p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card2:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card2{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

/* styles.css */
body {
  background-color: #25272a; /* Use the dark color code of your choice */
  color: #fff; /* Set text color to white or a contrasting color */
}

.navbar {
  background-color: #2a2f35; /* Change the navbar background color to a darker shade */
}

.navbar-nav .nav-link {
  color: #fff; /* Change the text color of navbar links to white */
  font-size: 15px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;   
  height: 0px;
  left: 50px;
  top: 200px;
}
.videowrapper iframe{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 70%;
  height: 70%;
}

iframe {
  max-width: 400px;
  max-height: 300px;
}

@media (min-width: 768px) {
  .container {
      display: flex;
      flex-wrap: wrap-reverse; /* Reverse the order of flex items on large screens */
  }

  .col-lg-6 {
      flex: 1; /* Make both columns take equal width on large screens */
      width: 600px;
  }

  .videowrapper {
      flex: 1; /* Make the video take equal width on large screens */
      margin-left: 0px; /* Adjust the margin as needed */
  }
}